<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>Users</title>
</head>

<body>

  <h1>Users</h1> {{ insert_that }}
  <div class="djangtwo">
    <ol>
      {% if records %} {% for acc in records %}

      <li>
        <ul>
          <li>First Name: {{ acc.first_name }}</li>
          <li>Last Name: {{ acc.last_name }}</li>
          <li>Email: {{ acc.email }}</li>
          <br>
        </ul>
      </li>
      {% endfor %}
    </ol>


    {% else %}
    <p>No Access Records. Table Not Created.</p>
    {% endif %}
  </div>


</body>

</html>
